<app-navbar></app-navbar>

<div class="login pt-70 pb-100">
    <div class="container">
        <div class="row">
            
            <section class="uni-banner">
                <div class="container">
                    <div class="uni-banner-text-area">
                        <h1>Register</h1>
                        <ul>
                            <li><a routerLink="home">Acceuil</a></li>
                            <li>Register</li>
                        </ul>
                    </div>
                </div>
            </section>
            
            <div class="col-lg-6 col-md-12 offset-md-3 col-sm-12  col-12 " >
                <div class="log-in-card">
                    
                    <div class="default-section-title">
                        <h3>Create An Account</h3>
                    </div>
                    
                    <div class="login-form">
                        <form [formGroup]="registerForm" (ngSubmit)="handleRegister()">
                           
                            <div class="mb-3"  >
                                <input 
                                type="text" 
                                [formControlName]="'cin'" 
                                class="form-control" 
                                placeholder="CIN" 
                                />
                            </div>
                            <div class="mb-3" >
                                <input 
                                type="number" 
                                [formControlName]="'codeMun'" 
                                class="form-control" 
                                placeholder="Municipality" 
                                />
                            </div>
                            
                            
                            <div class="mb-3" >
                                <input type="text" 
                                [formControlName]="'firstname'" 
                                class="form-control" 
                                placeholder="Firstname"
                                    />
                            </div>

                            <div class="mb-3" >
                                <input type="text" 
                                [formControlName]="'lastname'" 
                                class="form-control" 
                                placeholder="Lastname" 
                                    />
                            </div>
                            
                            <div class="mb-3">
                                <input type="date" 
                                [formControlName]="'dateOfBirth'" 
                                class="form-control" 
                                placeholder="Date of Birth"
                                 />
                            </div>
                            
                            <!-- // need to treat that shit -->
                            <!-- <div >
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">1</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                    <label class="form-check-label" for="inlineCheckbox2">2</label>
                                  </div>
                                 
                            </div> -->

                            
                            <div class="mb-3">
                                <input type="text"
                                 class="form-control" 
                                 [formControlName]="'email'"
                                 placeholder="Email" 
                                  />
                            </div>
                            
                            <div class="mb-3">
                                <input type="password" 
                                class="form-control"
                                [formControlName]="'password'" 
                                placeholder=" Password" 
                                 />
                            </div>
                            <p>
                                The password should be at least eight characters long. To make
                                it stronger, use upper and lower case letters, numbers, and
                                symbols like ! " ? $ % ^ & )
                            </p>
                            <button type="submit" class="default-button">
                                Register Now <i class="fas fa-angle-right"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>