<section class="fun-facts pt-70 pb-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
          <div class="fun-facts-card fun-facts-card-2">
            <i class="flaticon-smart-city"></i>
            <h2><span class="odometer" data-count="46712">10666</span></h2>
            <p>Population</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
          <div class="fun-facts-card fun-facts-card-2">
            <i class="flaticon-location-1"></i>
            <h2>
              <span class="odometer" data-count="22">43</span>
              <span class="sign-icon">K</span>
            </h2>
            <p>Surface de la Ville</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
          <div class="fun-facts-card fun-facts-card-2">
            <i class="flaticon-park-1"></i>
            <h2>
              <span class="odometer" data-count="300">80</span>
              <span class="sign-icon">+</span>
            </h2>
            <p>Année de fondation</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
          <div class="fun-facts-card last-card fun-facts-card-2">
            <i class="flaticon-award"></i>
            <h2>
              <span class="odometer" data-count="1000">40</span>
              <span class="sign-icon">+</span>
            </h2>
            <p>Programmes réussis
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>