<section class="about pb-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="about-img">
            <img class="a-img-1" src="assets/images/about/a1.jpg" alt="image" />
            <img class="a-img-2" src="assets/images/about/a2.jpg" alt="image" />
            <img class="a-img-3" src="assets/images/about/a3.jpg" alt="image" />
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="why-we-text-area about-text-area-2">
            <div class="default-section-title">
              <span>QUI SOMMES NOUS</span>
              <h3>Medzo est un service de la municipalité métropolitaine intérieure</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
            <div class="why-we-text-list">
              <i class="flaticon-government-building"></i>
              <h4>Notre rôle est de :              </h4>
              <p>
                Nulla porttitor accumsan tincidunt lorem ipsum dolor sit amet
                consectetur adipiscing elit praesent sapien massa convallis.
              </p>
              <ul>
                <li>Faciliter l'accées aux ressource nécessaire aux citoyens.</li>
                <li>Nulla porttitor accumsan tincidunt.</li>
                <li>Ivamus suscipit tortor eget felis porttitor volutpat.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>