<section class="home-banner ptb-100">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="banner-text-area">
            <h6>DÉCOUVRIR LA VILLE</h6>
            <h1>Nous développons une ville durable</h1>
            <p>
              Lorem ipsum dolor sit amet consectetuer adipiscing phasellus
              hendrerit lorem dolor sit amet magna nibh nec urna in nisi neque
              aliquet.
            </p>
            <a class="default-button" href="about.html">Voir Plus</a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="home-banner-area">
            <img src="assets/images/banner/banner-2.jpg" alt="image" />
          </div>
        </div>
      </div>
    </div>
  </section>
