<section class="blog ptb-100 bg-f9fbfe">
    <div class="container">
      <div class="default-section-title default-section-title-middle">
        <h3>Dernières nouvelles et mises à jour</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua quis ipsum
          suspendisse
        </p>
      </div>
      <div class="section-content">
        <div class="row justify-content-center">
          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="blog-card">
              <div class="blog-card-img">
                <a href="blog-details.html"
                  ><img src="assets/images/blog/b1.jpg" alt="image"
                /></a>
              </div>
              <div class="blog-card-text-area">
                <div class="blog-date">
                  <ul>
                    <li>
                      <i class="fas fa-user"></i> Par
                      <a href="posted-by.html">Admin</a>
                    </li>
                    <li><i class="far fa-comments"></i> No Comment</li>
                    <li><i class="far fa-calendar-alt"></i> 01 Nov 2022</li>
                  </ul>
                </div>
                <h4>
                  <a href="blog-details.html">Répond aux conseils des citoyens</a>
                </h4>
                <p>
                  Lorem ipsum dolor amet magna set dolor sit amet consectetur
                  adipiscing do elite labore.
                </p>
                <a class="read-more-btn" href="blog-details.html">En savoir plus
                </a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="blog-card">
              <div class="blog-card-img">
                <a href="blog-details.html"
                  ><img src="assets/images/blog/b2.jpg" alt="image"
                /></a>
              </div>
              <div class="blog-card-text-area">
                <div class="blog-date">
                  <ul>
                    <li>
                      <i class="fas fa-user"></i> Par
                      <a href="posted-by.html">Admin</a>
                    </li>
                    <li><i class="far fa-comments"></i> No Comment</li>
                    <li><i class="far fa-calendar-alt"></i> 02 Nov 2022</li>
                  </ul>
                </div>
                <h4>
                  <a href="blog-details.html">Programme de conseillers en logement</a>
                </h4>
                <p>
                  Lorem ipsum dolor amet magna set dolor sit amet consectetur
                  adipiscing do elite labore.
                </p>
                <a class="read-more-btn" href="blog-details.html">En savoir plus</a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="blog-card">
              <div class="blog-card-img">
                <a href="blog-details.html"
                  ><img src="assets/images/blog/b3.jpg" alt="image"
                /></a>
              </div>
              <div class="blog-card-text-area">
                <div class="blog-date">
                  <ul>
                    <li>
                      <i class="fas fa-user"></i> Par
                      <a href="posted-by.html">Admin</a>
                    </li>
                    <li><i class="far fa-comments"></i> No Comment</li>
                    <li><i class="far fa-calendar-alt"></i> 03 Nov 2022</li>
                  </ul>
                </div>
                <h4>
                  <a href="blog-details.html">Répondre au rapport national</a>
                </h4>
                <p>
                  Lorem ipsum dolor amet magna set dolor sit amet consectetur
                  adipiscing do elite labore.
                </p>
                <a class="read-more-btn" href="blog-details.html">En savoir plus</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>