<section class="precess ptb-100 mt-10">
    <div class="container">
      <div class="default-section-title default-section-title-middle">
        <h3>Nos Services</h3>
        <p>
          A travers nos services nous vise à faciliter l'accées aux ressources à distance. 
        </p>
      </div>
      <div class="section-content">
        <div class="row justify-content-center">
          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="process-card process-card-2">
              <i class="flaticon-google-docs"></i>
              <h4><a href="about.html">Contenu de Naissance</a></h4>
              <p>
                Vous pouvez extraire un <strong>Contenu de Naissance</strong> sans avoir étre présent.
              </p>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="process-card process-card-2">
              <i class="flaticon-process"></i>
              <h4><a routerLink="/copie">Copie Conforme</a></h4>
              <p>
                Vous pouvez faire une <strong>Copie Conforme</strong> à distance avec une signature électronique.
                
              </p>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="process-card process-card-2">
              <i class="flaticon-checked-1"></i>
              <h4><a routerLink="/copie">Légalistaion</a></h4>
              <p>
                Vous pouvez faire une <strong>Légalisation</strong> d'un document à distance avec une signature électronique.

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>