<app-navbar></app-navbar>

<div class="login pt-70 pb-100">
  <div class="container">
    <div class="row">
      <section class="uni-banner">
        <div class="container">
          <div class="uni-banner-text-area">
            <h1>Copie Conforme</h1>
            <ul>
              <li><a routerLink="home">Acceuil</a></li>
              <li>Copie Conforme</li>
            </ul>
          </div>
        </div>
      </section>

      <div class="col-lg-6 col-md-12 offset-md-3 col-sm-12 col-12">
        <div class="log-in-card">
          <div class="default-section-title">
            <h3>Liste des vos demande de copie Conforme</h3>
          </div>
          <br /><br /><br />
          <button class="default-button" routerLink="/newcopie">New</button>
          <br /><br /><br />
          <div>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Title</th>
                  <th scope="col">State</th>
                  <th scope="col">File</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let demand of listDemande">
                  <th scope="row">1</th>
                  <td>{{ demand.title }}</td>
                  <td>{{ demand.state }}</td>
                  <td>{{ demand.file }}</td>
                  <td>
                    <button class="btn btn-danger" (click)="deleteOne(demand)">
                      Delete
                    </button>
                    <button
                      style="margin-left: 5px"
                      *ngIf="demand.state == 'ACCEPTED'"
                      class="btn btn-info"
                      routerLink="/show"
                    >
                      Show
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
